@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
	--myBrown: #c58d498f;
	--myGreen: #4fe0b3;
	--myDarkerGreen: #42ac8a;
	--myDarkGreen: #2c6b57;
	/* --myBlue: rgb(79, 224, 247); */
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 98, 235, 255;
		--background-start-rgb: 0, 0, 15;
		--background-end-rgb: 0, 0, 50;
	}
}

body {
	color: var(--myGreen);
	background: linear-gradient(
			to bottom,
			transparent,
			rgb(var(--background-end-rgb))
		)
		rgb(var(--background-start-rgb));
}

input,
select,
option,
textarea {
	appearance: none;
	text-align: center;
	border-radius: 3px;
	padding: 3px;
	color: var(--myGreen);
	background-color: var(--myBrown);
	border-right: 2px dotted #2c6b57;
}

input::placeholder {
	color: rgba(0, 0, 0, 0.75);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}
